/* h1{ 
color: blue;
background-color: yellow;
} */

/* .box{
    height: 200px;
    width: 100px;
    border: 2px solid green;
    background: yellow;
    margin: 10px;
    text-align: center;
} */

/* 
.content{
color: white;
}

.content2{
    background: red;
    
} */

/* 
div{
    background: blue;
    color: white;
    height:100px;
    width:200px;
} */

/* .dark{
    background: black;
    color: white;
}

.light{
    background: white;
    color: black;
} */


body{
    background: purple;
    color: azure;
    text-align: center;
    font-weight: bold;

}

div{
    background: tomato;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

#btn1{
    background: rgb(221, 103, 6);
    color: white;
    padding: 6px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    
    
}
#btn2{
    background: rgb(207, 17, 49);
    color: white;
    padding: 6px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-right:20px;
}

button{
    margin-top: 100px;
    margin-right: 8px;
    
}