/* h1{ 
color: blue;
background-color: yellow;
} */

/* .box{
    height: 200px;
    width: 100px;
    border: 2px solid green;
    background: yellow;
    margin: 10px;
    text-align: center;
} */

/* 
.content{
color: white;
}

.content2{
    background: red;
    
} */

/* 
div{
    background: blue;
    color: white;
    height:100px;
    width:200px;
} */

.dark{
    background: black;
    color: white;
}

.light{
    background: white;
    color: black;
}